USE [master]
GO
/****** Object:  Database [RedTape]    Script Date: 08/04/2014 19:59:23 ******/
CREATE DATABASE [RedTape] ON  PRIMARY 
( NAME = N'RedTape', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\RedTape.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RedTape_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\RedTape_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RedTape].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RedTape]
GO
/****** Object:  User [Anand]    Script Date: 08/04/2014 19:59:23 ******/
CREATE USER [Anand] FOR LOGIN [Anand] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblProductAttributes]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProductAttributes](
	[attributeId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[size] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblProductAttributes] PRIMARY KEY CLUSTERED 
(
	[attributeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductAttributes] ON
INSERT [dbo].[tblProductAttributes] ([attributeId], [productId], [size]) VALUES (1, 1, N'6')
INSERT [dbo].[tblProductAttributes] ([attributeId], [productId], [size]) VALUES (2, 1, N'7')
INSERT [dbo].[tblProductAttributes] ([attributeId], [productId], [size]) VALUES (3, 1, N'8')
SET IDENTITY_INSERT [dbo].[tblProductAttributes] OFF
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[orderDetailId] [int] NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[discount] [float] NULL,
	[totalPrice] [float] NOT NULL,
	[size] [varchar](50) NULL,
	[color] [varchar](50) NULL,
	[weight] [float] NULL,
	[rewardPoints] [int] NULL,
	[createdBy] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblOrderDetails] PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUserViewProducts]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserViewProducts](
	[viewId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[viewType] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblUserViewProducts] PRIMARY KEY CLUSTERED 
(
	[viewId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblUserViewProducts] ON
INSERT [dbo].[tblUserViewProducts] ([viewId], [productId], [userId], [viewType], [createdDate], [modifiedDate]) VALUES (1, 3, 1, 2, CAST(0x0000A379010FE9D7 AS DateTime), CAST(0x0000A379011088D4 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblUserViewProducts] OFF
/****** Object:  Table [dbo].[tblUserShippingDetails]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUserShippingDetails](
	[shipAddressId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[street1] [varchar](500) NULL,
	[street2] [varchar](500) NULL,
	[countryId] [varchar](10) NULL,
	[stateId] [int] NULL,
	[cityId] [int] NULL,
	[pincode] [varchar](10) NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUserShippingDetails] PRIMARY KEY CLUSTERED 
(
	[shipAddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUserDetails]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUserDetails](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userfbId] [varchar](50) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[emailAddress] [varchar](50) NOT NULL,
	[password] [varbinary](1000) NOT NULL,
	[dob] [date] NULL,
	[mobileNo] [varchar](20) NULL,
	[telePhoneNo] [varchar](20) NULL,
	[fax] [varchar](20) NULL,
	[active] [bit] NULL,
	[userType] [varchar](50) NULL,
	[createdBy] [int] NULL,
	[creationDate] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUserDetails] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserDetails] ON
INSERT [dbo].[tblUserDetails] ([userId], [userfbId], [firstName], [lastName], [gender], [emailAddress], [password], [dob], [mobileNo], [telePhoneNo], [fax], [active], [userType], [createdBy], [creationDate], [modifiedBy], [modifiedDate]) VALUES (1, N'', N'Anand', N'Jaiswal', NULL, N'anand@unikove.com', 0x01000000C208D2B7A45DFEED124C062720C956BA1D45AA2A2EABD8CE74432347653D1890E1F4A8AD920D2D1D, CAST(0x00000000 AS Date), NULL, NULL, NULL, 1, N'Registered', 1, CAST(0x0000A37D012E29A8 AS DateTime), NULL, NULL)
INSERT [dbo].[tblUserDetails] ([userId], [userfbId], [firstName], [lastName], [gender], [emailAddress], [password], [dob], [mobileNo], [telePhoneNo], [fax], [active], [userType], [createdBy], [creationDate], [modifiedBy], [modifiedDate]) VALUES (2, NULL, N'Sheeloo', N'Sachan', N'Male', N'sheeloo@unikove.com', 0x01000000086AE9AAB3D5B214F4D23E76F3A5912CF3E62D30AE73E1BACF30FC4FE9B5C4D46F2BC9E12A97706F, CAST(0x94360B00 AS Date), N'9717036456', NULL, NULL, 1, N'Registered', NULL, CAST(0x0000A37D012FD6D4 AS DateTime), 2, CAST(0x0000A37D013D5FBA AS DateTime))
SET IDENTITY_INSERT [dbo].[tblUserDetails] OFF
/****** Object:  Table [dbo].[tblUserBillingDetails]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUserBillingDetails](
	[bilingAddressId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[street1] [varchar](500) NULL,
	[street2] [varchar](500) NULL,
	[countryId] [varchar](10) NULL,
	[stateId] [int] NULL,
	[cityId] [int] NULL,
	[pincode] [varchar](10) NULL,
	[createdBy] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUserBillingDetails] PRIMARY KEY CLUSTERED 
(
	[bilingAddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSubscribeUsers]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSubscribeUsers](
	[newsletterId] [int] IDENTITY(1,1) NOT NULL,
	[emailAddress] [varchar](50) NOT NULL,
	[active] [bit] NOT NULL,
	[subscribeDate] [datetime] NOT NULL,
	[subscribeEndDate] [datetime] NULL,
 CONSTRAINT [PK_tblSubscribeUsers] PRIMARY KEY CLUSTERED 
(
	[newsletterId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblSubscribeUsers] ON
INSERT [dbo].[tblSubscribeUsers] ([newsletterId], [emailAddress], [active], [subscribeDate], [subscribeEndDate]) VALUES (1, N'sheeloo@unikove.com', 1, CAST(0x0000A37D012FD6DF AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblSubscribeUsers] OFF
/****** Object:  Table [dbo].[tblProductMetarials]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProductMetarials](
	[metarialId] [int] NOT NULL,
	[metarialName] [varchar](50) NULL,
 CONSTRAINT [PK_tblProductMetarials] PRIMARY KEY CLUSTERED 
(
	[metarialId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblProductMetarials] ([metarialId], [metarialName]) VALUES (1, N'Lather')
INSERT [dbo].[tblProductMetarials] ([metarialId], [metarialName]) VALUES (2, N'Cotton')
INSERT [dbo].[tblProductMetarials] ([metarialId], [metarialName]) VALUES (3, N'Swish Lather ')
/****** Object:  Table [dbo].[tblOders]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOders](
	[oderId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[totalAmount] [float] NOT NULL,
	[billingAddressId] [int] NULL,
	[shippingAddressId] [int] NULL,
	[shipDate] [datetime] NULL,
	[paymentType] [varchar](50) NULL,
	[paid] [bit] NULL,
	[transactStatus] [varchar](50) NULL,
	[transactDescription] [varchar](200) NULL,
	[orderDate] [datetime] NULL,
 CONSTRAINT [PK_tblOders] PRIMARY KEY CLUSTERED 
(
	[oderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[pId] [int] NOT NULL,
	[categoryName] [varchar](200) NOT NULL,
	[description] [varchar](500) NOT NULL,
	[categoryImageURL] [varchar](500) NULL,
	[seqorder] [int] NULL,
	[modifiedBy] [int] NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON
INSERT [dbo].[tblCategory] ([categoryId], [pId], [categoryName], [description], [categoryImageURL], [seqorder], [modifiedBy], [createdBy], [createdDate], [modifiedDate]) VALUES (1, 0, N'APPREL', N'all types of APPRELs', NULL, 0, 0, NULL, CAST(0x0000A36100000000 AS DateTime), NULL)
INSERT [dbo].[tblCategory] ([categoryId], [pId], [categoryName], [description], [categoryImageURL], [seqorder], [modifiedBy], [createdBy], [createdDate], [modifiedDate]) VALUES (2, 0, N'FOOTWEAR', N'aLL TYPES OF FOOTWEARS', NULL, 0, 0, NULL, CAST(0x0000A36100000000 AS DateTime), NULL)
INSERT [dbo].[tblCategory] ([categoryId], [pId], [categoryName], [description], [categoryImageURL], [seqorder], [modifiedBy], [createdBy], [createdDate], [modifiedDate]) VALUES (3, 0, N'ACCESSORIES', N'ACCESSORIES', NULL, 0, 0, NULL, CAST(0x0000A36100000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
/****** Object:  Table [dbo].[states]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[states](
	[stateID] [int] NOT NULL,
	[stateName] [varchar](50) NOT NULL,
	[countryID] [varchar](3) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[countryID] ASC,
	[stateName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (5, N'California', N'USA', 37.42, -122.06)
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (6, N'Beijing', N'CHN', 39.93, 116.39)
INSERT [dbo].[states] ([stateID], [stateName], [countryID], [latitude], [longitude]) VALUES (9, N'Iowa', N'USA', 43.03, -96.09)
GO
print 'Processed 100 total records'
/****** Object:  UserDefinedFunction [dbo].[PasswordEncryption]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PasswordEncryption]
(@Str nvarchar(1000)
)
RETURNS varBinary(1000)
AS
BEGIN
	-- Declare the return variable here
	DECLARE  @EcrPwd varBinary(1000)

	set @EcrPwd=ENCRYPTBYPASSPHRASE('RedTapePAssword',@Str)
	
	RETURN @EcrPwd

END
GO
/****** Object:  UserDefinedFunction [dbo].[PasswordDecryption]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PasswordDecryption]
(@EcrPwd  varBinary(1000)
)
RETURNS nvarchar(1000)
AS
BEGIN
	-- Declare the return variable here
	DECLARE   @Str  nvarchar(1000)

	set @Str=DECRYPTBYPASSPHRASE('RedTapePAssword',@EcrPwd)
	
	RETURN @Str

END
GO
/****** Object:  Table [dbo].[countries]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countries](
	[countryID] [varchar](3) NOT NULL,
	[countryName] [varchar](52) NOT NULL,
	[localName] [varchar](45) NOT NULL,
	[webCode] [varchar](2) NOT NULL,
	[region] [varchar](26) NOT NULL,
	[continent] [varchar](15) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[surfaceArea] [float] NOT NULL,
	[population] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[countryName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[webCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'BRA', N'Brazil', N'Brasil', N'BR', N'South America', N'South America', -10, -55, 8547403, 170115000)
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'CHN', N'China', N'Zhongquo', N'CN', N'Eastern Asia', N'Asia', 35, 105, 9572900, 1277558000)
INSERT [dbo].[countries] ([countryID], [countryName], [localName], [webCode], [region], [continent], [latitude], [longitude], [surfaceArea], [population]) VALUES (N'FRA', N'France', N'', N'FR', N'Western Europe', N'Europe', 47, 2, 551500, 59225700)
/****** Object:  Table [dbo].[cities]    Script Date: 08/04/2014 19:59:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cities](
	[cityID] [int] NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[stateID] [int] NOT NULL,
	[countryID] [varchar](3) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[countryID] ASC,
	[stateID] ASC,
	[cityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (7, N'Mountain View', 5, N'USA', 37.42, -122.06)
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (8, N'Beijing', 6, N'CHN', 39.93, 116.39)
INSERT [dbo].[cities] ([cityID], [cityName], [stateID], [countryID], [latitude], [longitude]) VALUES (11, N'Ackworth', 9, N'USA', 41.36, -93.43)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  StoredProcedure [dbo].[sp_SaveUserBillingDetails]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveUserBillingDetails] ---sp_SaveUserBillingDetails
    @bilingAddressId int,
	@userId int,
	@street1 varchar(50),
	@street2 varchar(50),
	@countryId varchar(10),
	@stateId int,
	@cityId int,
	@pincode varchar(10)
AS

BEGIN 
SET NOCOUNT ON;

IF ( @bilingAddressId = 0 )
	BEGIN        
				INSERT INTO tblUserShippingDetails
				(userId,street1,street2,countryId,stateId,cityId,pincode,createdBy,createdDate)
				Values
				(@userId,@street1,@street2,@countryId,@stateId,@cityId,@pincode,@userId,GETDATE())
			
				 SET @bilingAddressId=SCOPE_IDENTITY()			 								
			    
	END	
ELSE
	BEGIN
		UPDATE  tblUserShippingDetails
		SET		street1=@street1,
		        street2=@street2,
				countryId= @countryId,
				stateId=@stateId,
			    cityId=@cityId,
				pincode=@pincode,			
				ModifiedBy=@userId,
				ModifiedDate=GETDATE()
		WHERE shipAddressId=@bilingAddressId
						
	END		
	SELECT  @bilingAddressId UId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveSubscribeUserDetail]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<31-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveSubscribeUserDetail] --sp_SaveSubscribeUserDetail ''
@emailAddress VARCHAR(50)
AS
BEGIN   
IF  EXISTS( SELECT 1 FROM tblSubscribeUsers WHERE emailAddress=@emailAddress)
        BEGIN
		UPDATE tblSubscribeUsers SET active=1 WHERE emailAddress=@emailAddress
		END
  ELSE
		BEGIN
		INSERT INTO tblSubscribeUsers (emailAddress,active,subscribeDate) VALUES (@emailAddress,1,GETDATE())
		END	
		
	SELECT 'Successfully Subscribed to our Newsletter';		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetUserPassword]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ResetUserPassword] --sp_ResetUserPassword 1,'anand@123'
@userId int,
@newpassword varchar(10)
AS
BEGIN
       
			UPDATE tblUserDetails SET password=dbo.[PasswordEncryption](@newpassword) 
			WHERE userId=@userId 
	        
			SELECT 'Password Reseted Successfully'			
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetValidLoginUserDetails]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetValidLoginUserDetails] --sp_GetValidLoginUserDetails 'anand@unikove.com','anand@12',''
@emailAddress varchar(50),
@password varchar(10),
@userfbId varchar(50)
AS
BEGIN
DECLARE @userid INT
SELECT @userid=userId from tblUserDetails WHERE emailAddress=@emailAddress

	    SELECT userId,emailAddress,firstName,lastName,gender, CONVERT(VARCHAR(10), dob, 105) AS dob,mobileNo,telePhoneNo,fax,
	    (SELECT COUNT(*)  FROM tblUserViewProducts WHERE userId=@userId AND viewType=3) WishListCount,
	    (SELECT COUNT(*)  FROM tblUserViewProducts WHERE userId=@userId AND viewType=2) AddToCartCount
	    FROM tblUserDetails
		WHERE emailAddress=@emailAddress AND (dbo.PasswordDecryption(password)=@password OR userfbId=@userfbId) AND active=1 
		
		SELECT bilingAddressId,street1,street2,countryId,stateId,cityId,pincode FROM tblUserBillingDetails WHERE userId=@userid
		
		SELECT shipAddressId,street1,street2,countryId,stateId,cityId,pincode FROM tblUserShippingDetails WHERE userId=@userid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserStatusList]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUserStatusList] --sp_GetUserCartList 1
@userId INT,
@viewType INT
AS
BEGIN       
		SELECT viewId,productId FROM tblUserViewProducts WHERE userId=@userId AND viewType=@viewType ORDER BY  ModifiedDate DESC
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDetails]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUserDetails] --sp_GetUserDetails 1
@userId INT
AS
BEGIN
	    SELECT userId,emailAddress,firstName,lastName,gender,emailAddress, CONVERT(VARCHAR(10), dob, 105) AS dob,mobileNo,telePhoneNo,fax,
	    (SELECT COUNT(*)  FROM tblUserViewProducts WHERE userId=@userId AND viewType=3) WishListCount,
	    (SELECT COUNT(*)  FROM tblUserViewProducts WHERE userId=@userId AND viewType=2) AddToCartCount
	    FROM tblUserDetails
		WHERE userId=@userid
		
		SELECT bilingAddressId,street1,street2,countryId,stateId,cityId,pincode FROM tblUserBillingDetails WHERE userId=@userid
		
		SELECT shipAddressId,street1,street2,countryId,stateId,cityId,pincode FROM tblUserShippingDetails WHERE userId=@userid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStates]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStates] --sp_GetStates
@CountryId VARCHAR(10)='IND'
AS
BEGIN
       SELECT stateID,stateName FROM states WHERE countryID in(@CountryId)
        UNION 
       SELECT 0 stateID,'Select State' stateName order by stateID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserPassword]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserPassword] --sp_UpdateUserPassword 1,'ujkhk@123','anand@123'
@userId INT,
@oldpassword nvarchar(1000),
@newpassword nvarchar(1000)
AS
BEGIN
        IF EXISTS( SELECT 1 FROM tblUserDetails WHERE userId=@userId and  dbo.PasswordDecryption(password)=@oldpassword)
        BEGIN
			UPDATE tblUserDetails SET password=dbo.[PasswordEncryption](@newpassword) 
			where userId=@userId 
	        SELECT 'Password Updated Successfully'
		END
        ELSE      
		SELECT 'Old Password Not Matched'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveUserViewProducts]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<31-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveUserViewProducts] --sp_SaveUserViewProducts 3,1,1
@productId INT,
@userId INT,
@viewType INT -- 0-delete,1-recentview,2-addtocart,3-wishlist
AS
BEGIN   
IF  EXISTS( SELECT 1 FROM tblUserViewProducts WHERE productId=@productId AND userId=@userId)
        BEGIN
		UPDATE tblUserViewProducts SET viewType=@viewType,modifiedDate=GETDATE()  WHERE userId=@userId AND productId=@productId
		END
  ELSE
		BEGIN
		INSERT INTO tblUserViewProducts (productId,userId,viewType ,createdDate,ModifiedDate) VALUES (@productId,@userId,@viewType,GETDATE(),GETDATE())
		END	
		
	SELECT COUNT(*) AS ViewCount FROM tblUserViewProducts WHERE userId=@userId AND viewType<>0		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveUserShippingDetails]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveUserShippingDetails] ---sp_SaveUserShippingDetails
    @shipAddressId int,
	@userId int,
	@street1 varchar(50),
	@street2 varchar(50),
	@countryId varchar(10),
	@stateId int,
	@cityId int,
	@pincode varchar(10)
AS

BEGIN 
SET NOCOUNT ON;

IF ( @shipAddressId = 0 )
	BEGIN        
				INSERT INTO tblUserShippingDetails
				(userId,street1,street2,countryId,stateId,cityId,pincode,createdBy,createdDate)
				Values
				(@userId,@street1,@street2,@countryId,@stateId,@cityId,@pincode,@userId,GETDATE())
			
				 SET @shipAddressId=SCOPE_IDENTITY()			 								
			    
	END	
ELSE
	BEGIN
		UPDATE  tblUserShippingDetails
		SET		street1=@street1,
		        street2=@street2,
				countryId= @countryId,
				stateId=@stateId,
			    cityId=@cityId,
				pincode=@pincode,			
				ModifiedBy=@userId,
				ModifiedDate=GETDATE()
		WHERE shipAddressId=@shipAddressId
						
	END		
	SELECT  @shipAddressId UId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsleftMenu]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sheeloo UNIKOVE>
-- Create date: <29 July 14>
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProductsleftMenu]---[[sp_GetProductsleftMenu]] 3
@CategoryId int=0
AS
BEGIN

	
	SELECT cat1.categoryId,cat1.pId,cat2.categoryName category,cat1.categoryName subCategory  
	FROM tblCategory cat1 
	left JOIN dbo.tblCategory cat2 ON cat1.pId=cat2.categoryId 
	where cat1.pId=case when @CategoryId=0 then cat1.pId else @CategoryId end
	order by cat1.seqorder

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsCategory]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sheeloo UNIKOVE>
-- Create date: <29 July 14>
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProductsCategory]---[sp_GetProductsCategory] 0
@CategoryId int=0
AS
BEGIN

	
	SELECT cat1.categoryId,cat1.pId,cat2.categoryName category,cat1.categoryName subCategory  
	FROM tblCategory cat1 
	left JOIN dbo.tblCategory cat2 ON cat1.pId=cat2.categoryId 
	where cat1.pId=case when @CategoryId=0 then cat1.pId else @CategoryId end
	order by cat1.seqorder

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountries]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCountries] --sp_GetCountries
AS
BEGIN
       SELECT countryID,countryName FROM countries WHERE countryID in('IND')
      
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCities]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCities] --sp_GetCities
@countryID VARCHAR(10)='IND'
AS
BEGIN
       SELECT cityID,cityName FROM cities WHERE countryID =case when @countryID='' then countryID else @countryID end
       UNION 
       SELECT 0 cityID,'Select City'cityName 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryListByCateId]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sheeloo UNIKOVE>
-- Create date: <05 July 14>
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCategoryListByCateId]---[sp_GetCategoryListByCateId] 0
@CategoryId int=0
AS
BEGIN

    WITH CTE AS(
    SELECT cat1.categoryId,cat1.pId,cat2.categoryName category,cat1.categoryName subCategory  
	FROM tblCategory cat1 
	left JOIN dbo.tblCategory cat2 ON cat1.pId=cat2.categoryId 
	where cat1.pId=case when @CategoryId=0 then cat1.pId else @CategoryId end	 
	--order by cat1.seqorder
	)
	select * from CTE 
	 
	--select * from tblCategory
 
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckUserEmailAddress]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckUserEmailAddress] --sp_CheckUserEmailAddress 'anand@unikove.com'
@emailAddress varchar(50)
AS
BEGIN
        IF EXISTS( SELECT 1 FROM tblUserDetails  WHERE emailAddress=@emailAddress AND active=1)
		BEGIN
		SELECT userId from tblUserDetails
			WHERE emailAddress=@emailAddress  AND active=1 
		END
    ELSE
        RAISERROR('Email provided by you does not exists, Please enter another email id.',16,1) 
					
END
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NOT NULL,
	[skuID] [varchar](50) NOT NULL,
	[productTitle] [varchar](300) NULL,
	[description] [varchar](1000) NULL,
	[shortDescription] [varchar](100) NULL,
	[metarialTypeId] [int] NULL,
	[MSRP] [float] NOT NULL,
	[salePrice] [float] NOT NULL,
	[colourCode] [varchar](50) NULL,
	[colour] [varchar](50) NULL,
	[weight] [float] NULL,
	[groupId] [int] NULL,
	[taxAppliedPercentage] [float] NULL,
	[quantity] [int] NULL,
	[availableFor] [tinyint] NOT NULL,
	[IsNewArrival] [bit] NOT NULL,
	[rating] [int] NOT NULL,
	[noviewed] [int] NULL,
	[rewardPoints] [int] NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedBy] [int] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblProducts] ON
SET IDENTITY_INSERT [dbo].[tblProducts] OFF
/****** Object:  Table [dbo].[tblOffers]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOffers](
	[offerId] [int] IDENTITY(1111,1) NOT NULL,
	[offerTitle] [varchar](100) NOT NULL,
	[percentage] [float] NULL,
	[productId] [int] NOT NULL,
	[validFrom] [datetime] NULL,
	[validTill] [datetime] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_tblOffers] PRIMARY KEY CLUSTERED 
(
	[offerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblOffers] ON
INSERT [dbo].[tblOffers] ([offerId], [offerTitle], [percentage], [productId], [validFrom], [validTill], [createdDate]) VALUES (1111, N'Summer Sale (20%off)', 20, 4, CAST(0x0000A37800000000 AS DateTime), CAST(0x0000A39700000000 AS DateTime), CAST(0x0000A37800000000 AS DateTime))
INSERT [dbo].[tblOffers] ([offerId], [offerTitle], [percentage], [productId], [validFrom], [validTill], [createdDate]) VALUES (1112, N'Clearance Sale (10%off) ', 10, 11, CAST(0x0000A37800000000 AS DateTime), CAST(0x0000A39700000000 AS DateTime), CAST(0x0000A37800000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblOffers] OFF
/****** Object:  Table [dbo].[tblProductImages]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProductImages](
	[imgId] [int] NOT NULL,
	[productId] [int] NULL,
	[imgUrl] [varchar](200) NULL,
	[groupId] [int] NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [int] NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblProductImages] PRIMARY KEY CLUSTERED 
(
	[imgId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveUsers]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Anand Jaiswal>
-- Date:<30-07-2014>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveUsers] ---sp_SaveUsers
	@userId int,
	@userfbId varchar(50),
	@firstName varchar(50),
	@lastName varchar(50),
	@gender varchar(10),
	@emailAddress varchar(100),
	@password varchar(10),
	@dob Date ='',
	@mobileNo varchar(15),
	@telePhoneNo varchar(15)='',
	@fax VARCHAR(100)='', 
	--@active BIT =1 ,--1 For Active,0 -Dective	
	@userType varchar(15),-- Guest/Registered
	@isSubscribe bit --0=No,1=Yes
	--@createdBy int=0
AS

BEGIN 
SET NOCOUNT ON;

IF ( @UserId = 0 )
	BEGIN
        IF EXISTS( SELECT 1 FROM tblUserDetails WHERE emailAddress=@eMailAddress)
			RAISERROR('Email address already exists',16,1)
        ELSE
			BEGIN    
				INSERT INTO tblUserDetails
				(userfbId,firstName,lastName,emailAddress,password,dob,mobileNo,telePhoneNo, fax, active,userType,creationDate)
				Values
				(@userfbId,@firstName,@lastName,@emailAddress,[dbo].[PasswordEncryption](@password),@dob,@mobileNo,@telePhoneNo, @fax, 1,@userType,GETDATE())
				IF(@isSubscribe=1)
				BEGIN
			    INSERT INTO tblSubscribeUsers (emailAddress,active,subscribeDate) VALUES(@emailAddress,1,GETDATE())
			    END
				SET @userId=SCOPE_IDENTITY()
								
			    UPDATE  tblUserDetails  SET createdBy=@userId where userId=@userId

			END
	END	
ELSE
	BEGIN
		UPDATE  tblUserDetails
		SET		userfbId=@userfbId,
		        firstName=@firstName,
				lastName= @lastName,
				gender=@gender,
				emailAddress=@emailAddress,
				dob=@dob,
			    mobileNo=@mobileNo,
				telePhoneNo=@telePhoneNo,
				fax=@fax,
				ModifiedBy=@userId,
				ModifiedDate=GETDATE()
		WHERE userid=@userId
				
	END		
	exec sp_GetUserDetails @userId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsList]    Script Date: 08/04/2014 19:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sheeloo UNIKOVE>
-- Create date: <29 July 14>
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProductsList]--sp_GetProductsList 2,'','',0,0,'',0,0,''
@CategoryId INT=0,
@ColorCode VARCHAR(50),  --0 for all
@Sizes VARCHAR(50), --0 for all 
@PriceRangeMin INT,
@PriceRangeMax INT,
@OfferTypeId VARCHAR(50),
@StartIndex INT, --start from 0
@EndIndex INT,
@SortBy VARCHAR(50)
AS
BEGIN
WITH CTE AS (
	SELECT 
	 ROW_NUMBER() OVER ( ORDER BY  prd.productId) SNo,
	 prd.productId,prd.categoryId,prd.productTitle,prd.skuID,prd.description,prd.Shortdescription,
	 prd.MSRP,prd.salePrice,prd.colour,prd.colourCode,pm.metarialId as metarialTypeId, prd.weight 
	 ,pm.metarialName,cat.categoryName,prd.createdDate,prd.noviewed,'1' as groupId,prd.quantity,
	 '4' as availableFor,'1' as newArrival,prd.rating
	 FROM tblProducts AS prd 
	 LEFT JOIN tblProductMetarials pm ON prd.metarialTypeId=pm.metarialId
	 LEFT JOIN tblCategory cat ON cat.categoryId=prd.categoryId	 
	 --WHERE prd.categoryId=CASE WHEN @CategoryId=0 THEN prd.categoryId ELSE @CategoryId END 
	-- AND prd.productId IN(SELECT ATTR.productId FROM tblProductAttributes ATTR WHERE ATTR.size IN (@Sizes))
	-- AND  prd.productId IN(SELECT Ofr.productId FROM tblOffers Ofr WHERE Ofr.offerId IN (@OfferTypeId))
	-- AND prd.colourCode IN (@ColorCode)
	-- AND salePrice>=@PriceRangeMin 
	-- AND salePrice<=@PriceRangeMax	  
	  )	  	  
	 
	 SELECT  * FROM CTE  WHERE SNo >=@StartIndex AND SNo<=@EndIndex
	-- ORDER BY  
	-- CASE WHEN @SortBy='POPULARITY' THEN noviewed END DESC,
	-- CASE WHEN @SortBy='NEW' THEN   createdDate END DESC,
	-- CASE WHEN @SortBy='PRICE LOW' THEN salePrice END ASC,
	-- CASE WHEN @SortBy='PRICE HIGH' THEN salePrice END DESC 
	 
 
	
END
GO
/****** Object:  Default [DF_tblProducts_IsNewArrival]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblProducts] ADD  CONSTRAINT [DF_tblProducts_IsNewArrival]  DEFAULT ((1)) FOR [IsNewArrival]
GO
/****** Object:  Default [DF_tblProducts_createdDate]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblProducts] ADD  CONSTRAINT [DF_tblProducts_createdDate]  DEFAULT (getdate()) FOR [createdDate]
GO
/****** Object:  ForeignKey [FK_tblProducts_tblCategory]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblCategory] FOREIGN KEY([categoryId])
REFERENCES [dbo].[tblCategory] ([categoryId])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblCategory]
GO
/****** Object:  ForeignKey [FK_tblProducts_tblProductMetarials]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblProductMetarials] FOREIGN KEY([metarialTypeId])
REFERENCES [dbo].[tblProductMetarials] ([metarialId])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblProductMetarials]
GO
/****** Object:  ForeignKey [FK_tblOffers_tblProducts]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblOffers]  WITH CHECK ADD  CONSTRAINT [FK_tblOffers_tblProducts] FOREIGN KEY([productId])
REFERENCES [dbo].[tblProducts] ([productId])
GO
ALTER TABLE [dbo].[tblOffers] CHECK CONSTRAINT [FK_tblOffers_tblProducts]
GO
/****** Object:  ForeignKey [FK_tblProductImages_tblProducts]    Script Date: 08/04/2014 19:59:25 ******/
ALTER TABLE [dbo].[tblProductImages]  WITH CHECK ADD  CONSTRAINT [FK_tblProductImages_tblProducts] FOREIGN KEY([productId])
REFERENCES [dbo].[tblProducts] ([productId])
GO
ALTER TABLE [dbo].[tblProductImages] CHECK CONSTRAINT [FK_tblProductImages_tblProducts]
GO
