.arrival_container
{
	padding-left: 3%;
padding-right: 3%;
}
.whslst li
{
	padding:0px;
}
.new_arriv_name
{
	width:70%;
	font-size: 11px;
}
.new_arriv_price
{
	width:30%;
}
.add_wishlist_pop
{
	width:33px;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right
{
	margin-top:-30px;
}

@media screen and (max-width:790px) {
.add_wishlist_pop
{
	bottom:34px;
}

.account_nav
{
	z-index: 100;
left: 0px;
top:101px;

}
.whslst_lft_nav ul li
{
	color:#fff;
}

}