.cbp-fwslider {
	position: relative;
	/*margin: 0 0 10px;*/
	overflow: hidden;
	/*padding: 40px 0 60px;*/
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	min-width:100px;
	min-height:100px;
	background-size:cover;
	
background-position:50% 0;
min-height:400px;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 34px;
	height: 34px;
		background-image: url(../images/website/Spritesheet_01.png);
	background-position: -17px -59px;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	opacity:0.7;
}

.cbp-fwslider nav span:hover {
	opacity:1;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 10px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 10px;
}

.cbp-fwdots {
	position: absolute;
bottom: 10px;
white-space: nowrap;
text-align: right;
width: 100%;
right: 10px;
}

.cbp-fwdots span {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #e92629;
	box-shadow: 0 0 0 2px #e92629;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}