.static_page_subhdng {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-align: left;
    line-height: 2;
    width: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
    text-align: justify;
}

.locter_inpt {
    float: left;
    margin-right: 5%;
    width: 23%;
}

.str_hdng {
    font-size: 14px;
    padding: 2% 0;
}

.str_bx {
    width: 90%;
    padding: 4%;
    border-radius: 3px;
    border-color: #000;
    margin-top: 5%;
}

.str_optn {
    margin-top: 4%;
}

.str_row {
    width: 100%;
}

.str_reset {
    margin-top: 3%;
    padding: 11px 30px 11px 10px;
    background-position: 118px 13px;
    cursor: pointer;
}

.str_view {
    width: 65%;
    float: right;
}



/* shopping cart starts */

.chng_input {
    text-align: right;
    height: 20px;
    width: 40px;
    padding: 3px;
    border: 1px solid;
}

.shpng_cart_row {
    font-size: 12px;
}

.shpng_cart ul li ul li:nth-child(1) {
    padding: 0;
}

.shpng_cart ul li {
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    border-top: 1px solid #959595;
    text-align: left;
    padding: 20px;
    margin: 0;
}

.bold_li {
    font-size: 14px;
    vertical-align: super;
}

.shpng_cart ul li ul li {
    float: left;
    width: 12%;
    border-top: none;
    padding: 0 0 0 20px;
    margin: 0;
    cursor:pointer;
}

    .shpng_cart ul li ul li:nth-child(1) {
        width: 24%;
    }

    .shpng_cart ul li ul li:nth-child(2) {
        width: 35%;
    }

    .shpng_cart ul li ul li:nth-child(5) {
        width: 10%;
    }

    .shpng_cart ul li ul li:nth-child(6) {
        width: 5%;
    }

.cart_foter {
    padding-top: 5%;
    width: 100%;
    float: left;
}
/* shopping cart ends */


/* order confirmation starts */
.career_hdng {
    font-size: 18px;
    padding: 2% 0;
}

.career_frm {
    width: 50%;
    padding: 4% 0;
}

.static_row {
    width: 100%;
    margin-top: 2%;
    float: left;
    color: #000;
}

.static_txt {
    color: #000;
    font-size: 13px;
    text-align: left;
    float: left;
    margin-bottom: 4%;
}

.creer_sbmt {
    width: 110px;
    text-align: center;
    height: auto;
    padding: 10px 5px;
}
/* order confirmation ends */

.spc {
    margin: 25px 0 45px 40px;
}

.pnts {
    color: #e92629;
}

.redm {
    padding: 0 0 1% 0;
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: 100;
    text-transform: inherit;
    font-family: 'GothamRoundedMedium';
}

.redm_sbhd {
    font-size: 15px;
    font-weight: bolder;
    text-transform: inherit;
    font-family: 'GothamRoundedMedium';
}

.redm_txt {
    width: 80%;
    float: left;
}

/* lk_bk */
.x_btn {
    float: left;
    background-image: url(../images/website/Spritesheet_01.png);
    background-position: 4px -16px;
    display: block;
    height: 33px;
    width: 43px;
}


/* red-tape life */
.rt_life {
    width: 100%;
    float: left;
}

.life_left {
    float: left;
    width: 20%;
    text-align: left;
}

.life_right {
    width: 75%;
    float: right;
    border-left: 1px solid #b50101;
    margin-left: 5%;
}

    .life_right img {
        width: 100%;
        border-bottom: 1px solid #b50101;
    }

.life_cntnt {
    width: 100%;
    padding: 5%;
    text-align: left;
    font-family: 'GothamRoundedMedium';
    font-size: 12px;
    color: #000;
}

.life_slidr {
    width: 95%;
    padding-left: 5%;
}

    .life_slidr img {
        border-bottom: none;
    }


    .life_slidr .nbs-flexisel-container {
        float: left;
    }

        .life_slidr .nbs-flexisel-container .nbs-flexisel-item div {
            padding: 0px 2.5px 0px 2.5px;
        }

.product_detail_pair ul li {
    opacity: 1;
}

    .product_detail_pair ul li.selected {
        opacity: 1;
        border: none;
        background: none;
    }

/* contact us ends*/
.adres_contnt {
    width: 80%;
    padding-left: 18%;
    margin-bottom: 25%;
    text-align: left;
}

.adres_hdng {
    font-size: 22px;
    color: #000;
    text-align: left;
    font-weight: bold;
    margin-top: 5%;
}

.adres_sub_hdng {
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4%;
}

.main_adres_line {
    font-size: 14px;
    font-weight: bold;
    margin-top: 4%;
    float: left;
}

.main_adres_content {
    color: #404040;
    float: left;
    font-size: 14px;
    width: 100%;
    padding-bottom: 20px;
}

.main_adres {
    font-size: 14px;
    color: #404040;
    float: left;
    width: 100%;
}
    .main_adres a {
         font-size: 13px;
    color: #404040;
    font-style:italic;
    }

.branchs {
    width: 100%;
    border-top: 1px solid #000;
    padding-left: 18%;
    padding-bottom: 5%;
    float: left;
}

.adres_branchs {
    width: 80%;
    text-align: left;
    float: left;
    margin: auto;
    margin-top: 2%;
}

    .adres_branchs ul {
        list-style: none;
    }

        .adres_branchs ul li {
            text-decoration: none;
            float: left;
            width: 100%;
            padding-top: 2%;
        }

            .adres_branchs ul li ul {
                width: 100%;
                float: left;
            }

                .adres_branchs ul li ul li {
                    text-decoration: none;
                    width: 50%;
                    padding-top: 2%;
                }


.branchs_left {
    float: left;
    width: 50%;
    padding-right: 5%;
}

.branchs_right {
    float: right;
    width: 50%;
    padding-left: 5%;
}

.adres_state {
    color: #404040;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4%;
    float: left;
}



@media screen and (max-width:960px) {

    .branchs {
        padding-left: 0%;
    }

    .adres_branchs {
        width: 100%;
    }
}

@media screen and (max-width:650px) {
    .adres_branchs ul li ul li {
        width: 100%;
    }

    .main_adres {
        text-align: center;
    }

    .main_adres_line {
        width: 100%;
    }
}



/* contact us ends*/

@media screen and (max-width:960px) {

    .life_left .account_nav {
        width: 100%;
    }
}

@media screen and (max-width:790px) {
    .life_right {
        width: 100%;
        float: left;
        margin: auto;
    }
}





/* Stores Styles*/

#dealer-locator-container {
    
}

    #dealer-locator-container div.left_container {
        width: 35%;
        margin:15px 0px;
    }

    #dealer-locator-container div.right_container {
        width: 65%;
        margin:15px 0px;
    }

    #dealer-locator-container div.map {
        margin-bottom: 0;
        /*padding-bottom: 54.5%;*/
        padding-top: 2px;
    }

    #dealer-locator-container #map-canvas {
        height: 100%;
        min-height: 480px;
    }

#mobile-map {
    display: none;
    min-height: 480px;
}

    #mobile-map img {
        max-width: none;
    }

    #mobile-map a.close {
        color: #000;
        display: block;
        font-size: 60px;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 999;
    }

    #mobile-map a.clearing-close:hover {
        color: #000;
    }

#dealer-locator-container img {
    max-width: none;
}

#dealer-locator-container div.dealer-infowindow hr {
    margin: 0;
}

#dealer-locator-container div.dealer-infowindow div.phone {
    width: 100%;
}

#dealer-locator-container div.dealer-list ul li.dealer {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px 1px 0;
    cursor: pointer;
    display: block;
    margin-top: 0;
    padding: 20px;
    position: relative;
    transition: background-color 0.5s ease 0s;
    width: 100%;
    background-color: #ececec;
    
}

    #dealer-locator-container div.dealer-list ul li.dealer:hover {
        background-color: #ececec;
    }

    #dealer-locator-container div.dealer-list ul li.dealer:last-child {
        border-bottom: 1px solid #dbdbdb;
    }

    #dealer-locator-container div.dealer-list ul li.dealer h3.name, #dealer-locator-container div.dealer-infowindow h3.name {
        color: #f02929;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-family:'GothamRoundedBold';
    }

    #dealer-locator-container div.dealer-list ul li.dealer p.dealertype, #dealer-locator-container div.dealer-infowindow p.dealertype {
        color: #242424;
        font-size: 13px;
        margin: 0;
        padding: 0;
        font-family:'GothamRoundedMedium';
    }

    #dealer-locator-container div.dealer-list ul li.dealer p span.label {
        margin: 0;
        padding: 2px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.row {
        margin-top: 10px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer p.address, #dealer-locator-container div.dealer-infowindow p.address {
        color: #242424;
        font-size: 13px;
        margin: 0;
        padding: 0;
        font-family:'GothamRoundedMedium';
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.phone span, #dealer-locator-container div.dealer-list ul li.dealer div.email span, #dealer-locator-container div.dealer-list ul li.dealer div.website span, #dealer-locator-container div.dealer-infowindow div.phone span {
        color: #f02929;
        font-size: 12px;
        margin: 0;
        padding: 0;
        position: relative;
        top: 4px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.phone a img, #dealer-locator-container div.dealer-infowindow div.phone a img {
        background-position: -820px -108px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.email a img {
        background-position: -62px -386px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.website a img {
        background-position: -99px -386px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.view-map a img {
        background-position: -28px -385px;
    }

    #dealer-locator-container div.dealer-list ul li.dealer div.phone a img, #dealer-locator-container div.dealer-list ul li.dealer div.email a img, #dealer-locator-container div.dealer-list ul li.dealer div.website a img, #dealer-locator-container div.dealer-list ul li.dealer div.view-map a img, #dealer-locator-container div.dealer-infowindow div.phone a img {
        background-image: url("../images/website/Spritesheet_01.png");
        background-repeat: no-repeat;
        display: inline;
        float: left;
        margin-right: 0;
        margin-top: 5px;
        vertical-align: middle;
    }

#dealer-locator-container div.dealer-infowindow div.phone a img {
    margin-top: 0;
}

#dealer-locator-container div.dealer-list ul li.dealer p.email {
    color: #242424;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#dealer-locator-container div.dealer-list ul li.dealer p.fax {
    color: #242424;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#dealer-locator-container div.dealer-list ul li.dealer p.website {
    color: #242424;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.dealer-list {
}

.list_container {
    float: left;
    width: 100%;
}

.dealer-list .list_container ul {
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#prev_btn {
    border-bottom: 10px solid #f7b100;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    height: 0;
    width: 0;
}

#next_btn {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #f7b100;
    height: 0;
    width: 0;
}

.dealer-list .toggle_btn {
    cursor: pointer;
    float: left;
    height: 50px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -25px;
    margin-top: 5px;
    position: relative;
    width: 50px;
}

.dealer-list .list_container li.highlight {
    background-color: #f7f7f7;
}

/*Scroll Bar Styles - Stores*/
#scrollbar1 {
    margin: 0;
    position: relative;
    width: 100%;
}
#scrollbar1 .viewport {
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 95%;
}
#scrollbar1 .overview {
    left: 0;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#scrollbar1 .scrollbar {
    background: url("../images/website/stores/bg-scrollbar-track-y.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 0;
    top: 2px;
    width: 15px;
}
#scrollbar1 .track {
    background: url("../images/website/stores/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100% transparent;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 13px;
}
#scrollbar1 .thumb {
    background: url("../images/website/stores/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 100% transparent;
    cursor: pointer;
    height: 20px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 25px;
}
#scrollbar1 .thumb .end {
    background: url("../images/website/stores/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0 transparent;
    height: 5px;
    overflow: hidden;
    width: 25px;
}
#scrollbar1 .disable {
    display: none;
}
