<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5">
      <buildProviders>
        <remove extension=".svc"/>
        <add extension=".svc" type="System.ServiceModel.Activation.ServiceBuildProvider,System.ServiceModel, Version=3.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      </buildProviders>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <!--PizzaHutDB.db.10038711.hostedresource.com-->
    <add name="conPizzaH" connectionString="Data Source=PizzaHutDB.db.10038711.hostedresource.com; Initial Catalog=PizzaHutDB; User ID=PizzaHutDB; Password=Unikove@123" providerName="System.Data.SqlClient"/>
    <add name="conPH6Live" connectionString="Data Source=125.19.50.205; Initial Catalog=PHUATMR6Live; User ID=PHTEST1; Password=mycentraluser" providerName="System.Data.SqlClient"/>
    <!--<add name="conPizzaH" connectionString="Data Source=ASHOK\MSQL2008; Initial Catalog=PizzaHutDB; User ID=sa; Password=Unikove@123" providerName="System.Data.SqlClient"></add>-->
    <!--<add name="SF9HODB" connectionString="Data Source=180.179.67.205;Initial Catalog=SF9;User ID=sa;Password=vestige@123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <baseAddressPrefixFilters>
        <add prefix="http://ph.unikovetech.com"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="WS_PizzaHut.PizzaHutService" behaviorConfiguration="SampleServiceBehavior">
        <endpoint binding="basicHttpBinding" contract="WS_PizzaHut.IPizzaHutService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="http"/>
    </protocolMapping>-->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>