<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>

    <customErrors mode="Off"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false">
      <controls>
        <add tagPrefix="ajt" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>

    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <trust level="Full"/>
    <sessionState mode="InProc" timeout="30"></sessionState>
  </system.web>
  
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="BaseUrl" value="http://54.76.177.227/shriramcms/Content/ProductImages/"/>
<add key="BaseUrlDiagnosisImg" value="http://54.76.177.227/shriramcms/Content/DiagnosysImages/"/>
  </appSettings>

  <connectionStrings>
    <add name="ConShriram" connectionString="Data Source=54.76.177.227;Initial Catalog=DCMShriram;User ID=DsclWeb;Password=KiwiTech@4321;Character Set=utf8;" providerName="System.Data.SqlClient" />
    
    <!--Main Server-->
      <!--<add name="ConDSCL" connectionString="Server=173.247.255.34;Database=unikov5_DSCL;Uid=unikov5;Pwd=epitome@123;default command timeout=120; Connection Timeout=120;" providerName="MySql.Data.MySqlClient"/>-->
    <!--Dev Server-->
      <add name="ConDSCL" connectionString="Server=173.247.255.34;Database=unikov5_DCMShriram;Uid=unikov5;Pwd=epitome@123;default command timeout=120; Connection Timeout=120;Character Set=utf8;" providerName="MySql.Data.MySqlClient"/>
    
    <!--<add name="ConShriram" connectionString="Data Source=Ashok\mSQL2008;Initial Catalog=DCMShriram;User ID=sa;Password=Unikove@123; Min Pool Size=2;Max Pool Size=100;Connect Timeout=120;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
